:root {
  background: #e3edfb;

  --color-icon: #0b3a67;

  --image-width: 8rem;
  --card-padding: 1rem;

  --font-heading: 1.75rem;

  /* Når du synes, du er færdig, så ændr værdien herunder til '1' for at se dit resultat i browseren */
  --hide-overlay: 0;
}

/* Begynd her... */

.profile {
  padding: var(--card-padding);
  display: grid;
  grid-template-columns: 2fr 3fr;
  width: fit-content;
  font-family: Arial, Helvetica, sans-serif;

  & img {
    width: var(--image-width);
    border-radius: 100%;
  }
  h1 {
    font-size: var(--font-heading);
    font-weight: bold;
  }
  p {
    font-size: 1.3rem;
    color: #3c9384;
  }
}

.links {
  display: flex;
  max-width: fit-content;
  & svg {
    height: 20px;
    margin: 5px;
    color: var(--color-icon);
  }
}
